.common-wrapper {
	min-height: 100vh;
}

.graph-area {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (min-width: 1025px) {
  .graph-area {
    height: 600px;
    width: 600px;
  } 
  .graph-area-responsive {
    min-height: 630px;
  }
}

@media screen and (max-width: 1024px) {
  .graph-area {
    height: 500px;
    width: 500px;
  } 
  .graph-area-responsive {
    min-height: 530px;
  }  
}

@media screen and (max-width: 768px) {
  .graph-area {
    height: 370px;
    width: 370px;
  } 
  .graph-area-responsive {
    min-height: 400px;
  }  
}